Repository JuliaRobotics/RoME.jl, pull requests merged in 2020-06, with the labels that each got.

#292 fix and require all masters
  .travis.yml
Labels: Travis, testing

#294 drop ::FactorGraph dep
  examples/Beehive2D_WithoutInit.jl
  examples/Hexagonal2D_SLAM_FixedLag.jl
  examples/RangesExample.jl
  examples/RangesExampleTwo.jl
  examples/dev/ISAMRemoteSolve.jl
  examples/dev/TreeDescriptor.jl
  src/Deprecated.jl
  src/FactorGraphAnalysisTools.jl
  src/RobotUtils.jl
  src/SimulationUtils.jl
  src/Slam.jl
Labels: deprecations, maintenance

#295 v0.7.1-rc1
  .travis.yml
  Project.toml
  examples/Beehive2D_WithoutInit.jl
  examples/Hexagonal2D_SLAM_FixedLag.jl
  examples/RangesExample.jl
  examples/RangesExampleTwo.jl
  examples/dev/ISAMRemoteSolve.jl
  examples/dev/TreeDescriptor.jl
  src/Deprecated.jl
  src/FactorGraphAnalysisTools.jl
  src/RobotUtils.jl
  src/SimulationUtils.jl
  src/Slam.jl
Labels: release

#297 AOT compile a RoME sysimage.
  .gitignore
  compileRoME/Project.toml
  compileRoME/compileRoMESysimage.jl
  compileRoME/precompile_triggers.jl
Labels: AOT compile
