Repository JuliaRobotics/RoME.jl, pull requests merged in 2020-07, with the labels that each got.

#300 Passing fg to the inner function to fix #299
  src/CanonicalGraphs.jl
Labels: bug, canonical

#301 suppliment deconv
  src/FactorGraphAnalysisTools.jl
  src/RoME.jl
Labels: factors, upstream

#303 cleanup deconv functions and factors
  Project.toml
  src/Deprecated.jl
  src/FactorGraphAnalysisTools.jl
  src/RoME.jl
  src/TemporaryFunctionality.jl
  src/factors/Point2D.jl
  src/factors/Polar.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/Pose3D.jl
  src/factors/Pose3Pose3.jl
  src/factors/PriorPose2.jl
  test/runtests.jl
  test/threeDimLinearProductTest.jl
Labels: deprecations, factors, maintenance, standardization, toml, versioning

#306 v0.7.2-rc1
  .gitignore
  Project.toml
  compileRoME/Project.toml
  compileRoME/compileRoMESysimage.jl
  compileRoME/precompile_triggers.jl
  src/CanonicalGraphs.jl
  src/Deprecated.jl
  src/FactorGraphAnalysisTools.jl
  src/RoME.jl
  src/TemporaryFunctionality.jl
  src/factors/Point2D.jl
  src/factors/Polar.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/Pose3D.jl
  src/factors/Pose3Pose3.jl
  src/factors/PriorPose2.jl
  test/runtests.jl
  test/testInferdimWithBeehive2D.jl
  test/threeDimLinearProductTest.jl
Labels: release

#308 prep maintenance v0.8.0
  Project.toml
  examples/Beehive2D.jl
  examples/Beehive2D_LandmarksManual.jl
  examples/Beehive2D_ParialInitIssue.jl
  examples/Beehive2D_WithoutInit.jl
  examples/DeadReckoningBranch.jl
  examples/Hexagonal2D_BearingOnly_SLAM.jl
  examples/Hexagonal2D_SLAM.jl
  examples/Hexagonal2D_SLAM_FixedLag.jl
  examples/KinematicJoints.jl
  examples/MultimodalRangeBearing.jl
  examples/RangesExampleTwo.jl
  examples/SeparateInitializationProcess.jl
  examples/testPartialInit.jl
  src/CanonicalGraphs.jl
  src/Deprecated.jl
  src/RobotUtils.jl
  src/SensorModels.jl
  src/factors/Bearing2D.jl
  src/factors/BearingRange2D.jl
  src/factors/DynPoint2D.jl
  src/factors/DynPose2D.jl
  src/factors/InertialPose3.jl
  src/factors/MultipleFeaturesConstraint.jl
  src/factors/MutablePose2Pose2.jl
  src/factors/PartialPose3.jl
  src/factors/PartialPriorPose2.jl
  src/factors/Point2D.jl
  src/factors/Point3D.jl
  src/factors/Polar.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/Pose3D.jl
  src/factors/Pose3Pose3.jl
  src/factors/PriorPose2.jl
  src/factors/Range2D.jl
  src/factors/flux/FluxModelsPose2Pose2.jl
  test/runtests.jl
  test/testBasicPose2Stationary.jl
  test/testBearing2D.jl
  test/testBearingRange2D.jl
  test/testBeehive2D_CliqByCliq.jl
  test/testBeehive2D_DoubleHexInit.jl
  test/testDeadReckoningTether.jl
  test/testDynPoint2D.jl
  test/testDynTarget2D.jl
  test/testFixedLagFG.jl
  test/testG2oParser.jl
  test/testInferdimWithBeehive2D.jl
  test/testMultimodalRangeBearing.jl
  test/testPoint2Point2Init.jl
  test/testPoint2Point2WorldBearing.jl
  test/testPose3Pose3NH.jl
  test/testhigherdimroots.jl
  test/testpackingconverters.jl
  test/testpartialpose3.jl
Labels: API, compat, maintenance, toml

#312 drop dev masters test on release branch
  .travis.yml
Labels: Travis

#313 Backport not dev on release
  .travis.yml
Labels: Travis, backport, bug fix, testing, upstream

#310 maintenance for v0.8.0
  src/CanonicalGraphs.jl
  test/testpartialpose3.jl
Labels: maintenance
