Repository JuliaRobotics/RoME.jl, pull requests merged in 2021-01, with the labels that each got.

#368 depr maxparallel
  examples/MITDatasetBatch.jl
  examples/MITDatasetFixedLag.jl
  examples/MITDatasetIncremental.jl
  examples/ManhattanDatasetBatch.jl
  examples/ManhattanDatasetFixedLag-FromBatch.jl
  examples/ManhattanDatasetFixedLag-MargOnly.jl
  examples/ManhattanDatasetFixedLag.jl
  examples/ManhattanDatasetIncremental.jl
  examples/OutlierVsMultimodal.jl
  src/Slam.jl
  test/testDynPose2D.jl
Labels: deprecations, maintenance

#369 v0.11.2-rc1
  Project.toml
  examples/KinematicJoints.jl
  examples/MITDatasetBatch.jl
  examples/MITDatasetFixedLag.jl
  examples/MITDatasetIncremental.jl
  examples/ManhattanDatasetBatch.jl
  examples/ManhattanDatasetFixedLag-FromBatch.jl
  examples/ManhattanDatasetFixedLag-MargOnly.jl
  examples/ManhattanDatasetFixedLag.jl
  examples/ManhattanDatasetIncremental.jl
  examples/OutlierVsMultimodal.jl
  src/SensorModels.jl
  src/Slam.jl
  src/factors/Bearing2D.jl
  src/factors/BearingRange2D.jl
  src/factors/DynPoint2D.jl
  src/factors/DynPose2D.jl
  src/factors/InertialPose3.jl
  src/factors/MultipleFeaturesConstraint.jl
  src/factors/MutablePose2Pose2.jl
  src/factors/PartialPose3.jl
  src/factors/Point2D.jl
  src/factors/Polar.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/Pose3Pose3.jl
  src/factors/PriorPose2.jl
  src/factors/Range2D.jl
  src/factors/VelPoint2D.jl
  src/factors/VelPose2D.jl
  src/factors/flux/FluxModelsPose2Pose2.jl
  test/testBearingRange2D.jl
  test/testDidsonFunctions.jl
  test/testDynPose2D.jl
  test/testPartialXYH.jl
  test/testhigherdimroots.jl
  test/testpartialpose3.jl
Labels: release

#371 breaking change, api to CalcFactor
  .travis.yml
  Project.toml
  src/factors/DynPose2D.jl
  src/factors/Pose2D.jl
  src/factors/VelPose2D.jl
  test/testBeehive2D_CliqByCliq.jl
  test/testPoint2Point2.jl
Labels: API, Travis, breaking changes, deprecations, factors, refactoring, sampling, standardization, upstream, versioning

#372 CalcFactor updates and IIF v0.20.1
  Project.toml
  examples/MultimodalRangeBearing.jl
  src/SensorModels.jl
  src/factors/Bearing2D.jl
  src/factors/BearingRange2D.jl
  src/factors/DynPoint2D.jl
  src/factors/DynPose2D.jl
  src/factors/MutablePose2Pose2.jl
  src/factors/PartialPose3.jl
  src/factors/Point2D.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/Pose3D.jl
  src/factors/Pose3Pose3.jl
  src/factors/PriorPose2.jl
  src/factors/Range2D.jl
  src/factors/VelPoint2D.jl
  src/variables/VariableTypes.jl
  test/testBearingRange2D.jl
  test/testDidsonFunctions.jl
  test/testMultimodalRangeBearing.jl
  test/testPartialXYH.jl
  test/testhigherdimroots.jl
  test/testpackingconverters.jl
  test/testpartialpose3.jl
Labels: API, breaking changes, compat, factors, maintenance, serialization, standardization, testing, upstream, versioning

#373 add github actions workflow
  .github/workflows/ci.yml
Labels: CI, Travis, automation, testing

#376 fix test on v0.11.3 w/ IIF v0.20
  Project.toml
  test/runtests.jl
  test/testBearingRange2D.jl
  test/testBeehive2D_CliqByCliq.jl
  test/testDidsonFunctions.jl
  test/testPartialXYH.jl
  test/testhigherdimroots.jl
  test/testpartialpose3.jl
Labels: compat, deprecations, legacy, release, testing, versioning

#375 cleanup and clear more depr
  src/factors/Pose3D.jl
  test/testPartialXYH.jl
  test/testpartialpose3.jl
Labels: deprecations, maintenance

#379 Update BearingRange2D.jl
  src/factors/BearingRange2D.jl
Labels: factors, maintenance

#383 AbstractRelativeMinimize residual v cost
  Project.toml
  src/SensorModels.jl
  src/factors/Bearing2D.jl
  src/factors/BearingRange2D.jl
  src/factors/DynPoint2D.jl
  src/factors/MultipleFeaturesConstraint.jl
  src/factors/PartialPose3.jl
  src/factors/Pose2Point2.jl
  src/factors/Range2D.jl
  src/factors/VelPoint2D.jl
  src/factors/VelPose2D.jl
Labels: API, breaking changes, factors, inference, refactoring, standardization, upstream, versioning

#385 github action to "test this and masters"
  .github/workflows/ci.yml
Labels: CI, testing

#387 Overload getParametricMeasurement Consept
  src/factors/BearingRange2D.jl
  src/factors/Pose2D.jl
Labels: factors, parametric solution, refactoring

#384 extend getParametricMeasurement for factors supported by parametric
  .github/workflows/ci.yml
  src/factors/BearingRange2D.jl
  src/factors/Pose2D.jl
  test/testBearingRange2D.jl
Labels: factors, maintenance, parametric solution

#390 Backport: Fix and test Pose2Point2
  Project.toml
  src/factors/Pose2Point2.jl
  test/runtests.jl
  test/testPose2Point2.jl
Labels: backport, bug fix

#389 Fix and test Pose2Point2
  src/factors/Pose2Point2.jl
  test/runtests.jl
  test/testPose2Point2.jl
Labels: bug fix, factors, testing

#391 Extend getParametricMeasurement for Pose2Point2BearingRange
  .github/workflows/ci.yml
  src/factors/BearingRange2D.jl
  src/factors/Pose2D.jl
  test/testBearingRange2D.jl
Labels: factors, feature, maintenance, parametric solution, testing
