Repository JuliaRobotics/RoME.jl, pull requests merged in 2021-08, with the labels that each got.

#468 getVariableType patch for serialization SE2
  src/variables/VariableTypes.jl
  test/testpackingconverters.jl
Labels: serialization, twig branch, types, variableType

#470 getVariableType patch for serialization SE2 from manivecP
  src/variables/VariableTypes.jl
  test/testpackingconverters.jl
Labels: serialization

#467 WIP update Point, BearingRange2d, and Pose2. Factors return coords
  src/RoME.jl
  src/RobotUtils.jl
  src/factors/BearingRange2D.jl
  src/factors/Point2D.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/PriorPose2.jl
  src/variables/VariableTypes.jl
  test/TestPoseAndPoint2Constraints.jl
  test/runtests.jl
  test/testBearingRange2D.jl
  test/testPoint2Point2.jl
  test/testPoint2Point2Init.jl
  test/testPose2Point2.jl
  test/testpackingconverters.jl
Labels: factors, manifolds

#471 Updates to Pose3 to Manifolds.jl
  src/factors/Pose3D.jl
  src/factors/Pose3Pose3.jl
  test/runtests.jl
  test/testBasicPose2Stationary.jl
  test/testBearingRange2D.jl
  test/testInflation380.jl
  test/testMultimodalRangeBearing.jl
  test/testPose3Pose3NH.jl
  test/testhigherdimroots.jl
  test/testpackingconverters.jl
  test/threeDimLinearProductTest.jl
Labels: factors, manifolds

#473 fix lastpose typo
  src/canonical/GenerateHelix.jl
Labels: bug fix, canonical

#475 update Manifolds.Identity
  src/canonical/GenerateHelix.jl
  src/factors/BearingRange2D.jl
  src/factors/Pose2D.jl
Labels: maintenance, manifolds, compat

#477 oops, fix identity_element
  src/factors/Pose2D.jl
Labels: factors, manifolds, bug fix

#478 export, bug fix, standard api for canonicals
  src/canonical/GenerateBeehive.jl
  src/canonical/GenerateBox.jl
  src/canonical/GenerateCommon.jl
  src/canonical/GenerateHelix.jl
  src/canonical/GenerateHoneycomb.jl
Labels: maintenance, canonical

#479 Standard api for canonicals, Manifolds v0.6, and some tests
  Project.toml
  src/RoME.jl
  src/canonical/GenerateBeehive.jl
  src/canonical/GenerateBox.jl
  src/canonical/GenerateCommon.jl
  src/canonical/GenerateHelix.jl
  src/canonical/GenerateHoneycomb.jl
  src/factors/BearingRange2D.jl
  src/factors/Pose2D.jl
  src/factors/Pose3Pose3.jl
  test/testBeehive2D_CliqByCliq.jl
Labels: testing, maintenance, canonical

#480 Fix DynPoint2 and VelPoint2
  src/factors/DynPoint2D.jl
  src/factors/Point3D.jl
  src/factors/Point3Point3.jl
  src/factors/VelPoint2D.jl
  test/testDynPoint2D.jl
Labels: factors, maintenance, manifolds

#482 some cleanup, restoring generators
  src/OdometryUtils.jl
  src/canonical/GenerateHoneycomb.jl
  src/factors/BearingRange2D.jl
  src/factors/DynPose2D.jl
  src/factors/MutablePose2Pose2.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/VelPose2D.jl
  src/variables/VariableTypes.jl
  src/variables/deprecated/DynPoint2D.jl
  src/variables/deprecated/DynPose2D.jl
  src/variables/deprecated/Point2D.jl
  src/variables/deprecated/Point3D.jl
  src/variables/deprecated/Pose2D.jl
  src/variables/deprecated/Pose3D.jl
  test/runtests.jl
Labels: API, standardization, deprecations, testing, maintenance

#481 Update DynPose2 and velocity
  Project.toml
  src/Deprecated.jl
  src/RoME.jl
  src/factors/BearingRange2D.jl
  src/factors/DynPose2D.jl
  src/factors/Pose2D.jl
  src/factors/Pose3Pose3.jl
  src/factors/VelPose2D.jl
  src/variables/VariableTypes.jl
  test/testBearingRange2D.jl
  test/testDynPose2D.jl
Labels: enhancement, factors, maintenance, manifolds, variableType

#484 upgrade BearingRange to use Manifolds.jl
  src/factors/BearingRange2D.jl
Labels: standardization, factors, manifolds, types

#485 locality and docs for generate Beehive
  src/canonical/GenerateBeehive.jl
Labels: enhancement, feature, canonical, user experience

#486 some cleanup
  src/TemporaryFunctionality.jl
  src/canonical/GenerateBeehive.jl
Labels: maintenance

#487 Fix BearingRange factor tests
  test/testBearingRange2D.jl
Labels: testing, factors, bug fix

#488 Upgrade partials to manifolds
  examples/Beehive2D.jl
  src/Deprecated.jl
  src/RoME.jl
  src/factors/Bearing2D.jl
  src/factors/PartialPriorPose2.jl
  src/factors/Range2D.jl
  test/runtests.jl
  test/testBearing2D.jl
  test/testManifoldsPose2Equivalent.jl
  test/testMultimodalRangeBearing.jl
  test/testPartialPriorYawPose2.jl
  test/testPartialRangeCrossCorrelations.jl
  test/testPartialXYH.jl
Labels: factors, maintenance, manifolds

#489 Update MutablePose2Pose2Gaussian to Manifolds and stashed wip tests
  src/factors/MutablePose2Pose2.jl
  src/factors/PartialPose3.jl
  test/testBearingRange2D.jl
  test/testSimpleHexPose3.jl
  test/testTreeInitCommonMsg_IIF913.jl
Labels: enhancement, maintenance, manifolds, bug fix

#491 Update Partial Pose3
  src/Deprecated.jl
  src/RoME.jl
  src/factors/PartialPose3.jl
  test/runtests.jl
  test/testPartialPose3.jl
  test/testpartialpose3.jl
Labels: enhancement, refactoring, deprecations, testing, maintenance, manifolds, partials

#493 update Pose2Pose2 getSample
  src/factors/Pose2D.jl
Labels: API, standardization, deprecations, upstream, sampling, factors, maintenance

#494 Update getSample to remove N
  src/OdometryUtils.jl
  src/RoME.jl
  src/factors/Bearing2D.jl
  src/factors/BearingRange2D.jl
  src/factors/DynPoint2D.jl
  src/factors/DynPose2D.jl
  src/factors/MutablePose2Pose2.jl
  src/factors/PartialPose3.jl
  src/factors/PartialPriorPose2.jl
  src/factors/Point2D.jl
  src/factors/Point3D.jl
  src/factors/Point3Point3.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/Pose3D.jl
  src/factors/Pose3Pose3.jl
  src/factors/PriorPose2.jl
  src/factors/Range2D.jl
  src/factors/VelPoint2D.jl
  src/factors/VelPose2D.jl
  test/testBearing2D.jl
  test/testBearingRange2D.jl
  test/testDeltaOdo.jl
  test/testMultimodalRangeBearing.jl
  test/testParametricSimulated.jl
  test/testTreeInitCommonMsg_IIF913.jl
  test/testhigherdimroots.jl
  test/testpackingconverters.jl
Labels: enhancement, standardization, maintenance, manifolds, bug fix
