Repository JuliaRobotics/RoME.jl, pull requests merged in 2021-11, with the labels that each got.

#537 add missing getManifold
  src/factors/Range2D.jl
Labels: API, deprecations, factors, manifolds

#539 dedicated ExportAPI.jl file
  src/ExportAPI.jl
  src/RoME.jl
Labels: enhancement, API, standardization, refactoring, maintenance

#540 refactor selectFactorType
  Project.toml
  src/Deprecated.jl
  src/RoME.jl
  src/TemporaryFunctionality.jl
Labels: enhancement, standardization, refactoring, deprecations, upstream, factors, compat, variableType, types, quality

#541 v0.16.2-rc1
  Project.toml
  src/Deprecated.jl
  src/ExportAPI.jl
  src/RoME.jl
  src/TemporaryFunctionality.jl
  src/factors/Range2D.jl
Labels: release

#543 change API to generateGraph_ABC
  NEWS.md
  Project.toml
  examples/FixedLagCircle6.jl
  examples/FixedLagCircles.jl
  examples/OutlierVsMultimodal.jl
  src/AdditionalUtils.jl
  src/Deprecated.jl
  src/ExportAPI.jl
  src/RoME.jl
  src/RobotUtils.jl
  src/canonical/GenerateBeehive.jl
  src/canonical/GenerateBox.jl
  src/canonical/GenerateCircular.jl
  src/canonical/GenerateCommon.jl
  src/canonical/GenerateHelix.jl
  src/canonical/GenerateHexagonal.jl
  src/canonical/GenerateHoneycomb.jl
  src/factors/PartialPose3.jl
  test/runtests.jl
  test/testBeehiveGrow.jl
  test/testFluxModelsPose2.jl
  test/testG2oParser.jl
  test/testGenerateHelix.jl
  test/testGraphGenerators.jl
  test/testHexagonal2D_CliqByCliq.jl
  test/testParametricSimulated.jl
  test/testPose3Pose3NH.jl
  test/testScalarFields.jl
  test/testTreeInitCommonMsg_IIF913.jl
Labels: API, standardization, deprecations, upstream, canonical, breaking changes

#538 Change to using `Z` as factor field
  NEWS.md
  src/Deprecated.jl
  src/ExportAPI.jl
  src/factors/DynPoint2D.jl
  src/factors/Point3Point3.jl
  src/factors/Pose2D.jl
  src/factors/Pose2Point2.jl
  src/factors/Pose3Pose3.jl
  src/factors/VelPoint2D.jl
  src/factors/VelPose2D.jl
  test/testDynPose2D.jl
  test/testpackingconverters.jl
Labels: standardization, sampling, factors, maintenance, types, user experience

#546 fix deprecations and legacy support Pose2Pose2.z
  src/Deprecated.jl
  src/RobotUtils.jl
Labels: refactoring, upstream, maintenance, manifolds, legacy

#547 cleanup, v0.17.0
  Project.toml
  src/ExportAPI.jl
  src/OdometryUtils.jl
  src/RoME.jl
Labels: versioning, maintenance, quality

#548 fix hexagonal example, API
  examples/Hexagonal2D_SLAM.jl
  src/canonical/GenerateHexagonal.jl
Labels: API, example, deprecations, canonical, bug fix
