Repository JuliaRobotics/RoME.jl, pull requests merged in 2022-08, with the labels that each got.

#606 Fix Parametric test return point
  test/testParametric.jl
Labels: testing, upstream, parametric solution, bug fix

#608 Fix BearingRange Factor
  src/factors/BearingRange2D.jl
  test/testBearingRange2D.jl
Labels: factors, bug fix

#607 Restore testG2oParser.jl
  src/g2oParser.jl
  test/runtests.jl
  test/testG2oParser.jl
Labels: testing, bug fix

#610 trying more concrete converters
  src/factors/BearingRange2D.jl
Labels: serialization, performance

#609 StaticArray Pose2Pose2 and Pose2Point2BearingRange
  src/factors/BearingRange2D.jl
  src/factors/Pose2D.jl
  test/testParametric.jl
Labels: factors, performance

#611 Parse more G2O formats and Improve PriorPose2 performance
  src/factors/Pose2D.jl
  src/factors/PriorPose2.jl
  src/g2oParser.jl
Labels: enhancement, needs testing, factors, performance

#612 Update ci to julia v1.8
  .github/workflows/ci.yml
Labels: CI

#617 New Pose3Pose3Rotation Factor
  src/ExportAPI.jl
  src/factors/PartialPose3.jl
  test/testPartialPose3.jl
Labels: enhancement, factors
