Repository JuliaRobotics/RoME.jl, pull requests merged in 2023-11, with the labels that each got.

#715 DERelative INS test, new InertialDynamic factor
  Project.toml
  ext/RoMEDifferentialEquationsExt.jl
  ext/factors/InertialDynamic.jl
  src/Deprecated.jl
  src/ExportAPI.jl
  src/RoME.jl
  src/variables/VariableTypes.jl
  test/inertial/testIMUDeltaFactor.jl
  test/inertial/testODE_INS.jl
  test/runtests.jl
Labels: enhancement, testing, factors, feature request, inertial, differential equations, imu

#716 Add gravitational acceleration to imuKinematic
  ext/factors/InertialDynamic.jl
Labels: enhancement, dead reckon tether, inertial, user experience

#718 initial tests for InertialDynamic factor
  Project.toml
  ext/RoMEDifferentialEquationsExt.jl
  ext/factors/InertialDynamic.jl
  src/canonical/GenerateCommon.jl
  test/inertial/testIMUDeltaFactor.jl
  test/inertial/testInertialDynamic.jl
  test/inertial/testODE_INS.jl
  test/runtests.jl
Labels: enhancement, testing, factors, compat, inertial

#719 rename RoMEDiffEqExt
  Project.toml
  ext/RoMEDiffEqExt.jl
Labels: refactoring, compat, compiling

#720 better consolidate IMU testing
  src/canonical/GenerateCommon.jl
  test/inertial/testIMUDeltaFactor.jl
  test/inertial/testInertialDynamic.jl
  test/runtests.jl
Labels: refactoring, testing, inertial

#722 first step to consolidate legacy insKinematic def
  ext/factors/InertialDynamic.jl
  test/testScalarFields.jl
Labels: standardization, refactoring, inertial
