Repository JuliaRobotics/RoME.jl, pull requests merged in 2023-07, with the labels that each got.

#669 Update ci.yml for jlv1.9
  .github/workflows/ci.yml
Labels: CI

#676 clean up tests, compat
  test/testPartialPose3.jl
  test/testScalarFields.jl
Labels: testing, compat

#677 drop AbstractRelativeRoots
  attic/FluxModelsPose2Pose2.jl
  examples/KinematicJoints.jl
  src/factors/DynPose2D.jl
  src/factors/InertialPose3.jl
  src/factors/Point3Point3.jl
  src/factors/Polar.jl
  src/factors/flux/MixtureFluxPose2Pose2.jl
  test/testhigherdimroots.jl
  test/testpackingconverters.jl
Labels: standardization, upstream, factors, types

#678 ImageIOExt
  Project.toml
  ext/ImageIOExt.jl
  ext/WeakdepsPrototypes.jl
  src/ExportAPI.jl
  src/RoME.jl
Labels: standardization, refactoring, dependencies, weakdeps

#681 RoMEFluxExt.jl
  Project.toml
  ext/Pose2OdoNN_01.jl
  ext/RoMEFluxExt.jl
  ext/WeakdepsPrototypes.jl
  src/Deprecated.jl
  src/ExportAPI.jl
  src/RoME.jl
  src/entities/MixtureFluxPose2Pose2.jl
Labels: standardization, refactoring, factors, flux, weakdeps

#682 fixes RoMEFluxExt
  ext/RoMEFluxExt.jl
Labels: bug fix, flux, weakdeps

#683 RoMECameraModelsExt and dfg 23
  Project.toml
  ext/RoMECameraModelsExt.jl
  ext/RoMEFluxExt.jl
  ext/factors/GenericProjection.jl
  ext/factors/MixtureFluxPose2Pose2.jl
  ext/services/Pose2OdoNN_01.jl
  src/ExportAPI.jl
  src/RoME.jl
  src/services/RobotUtils.jl
  test/testdata/g2otest.tar.gz
Labels: enhancement, deprecations, camera, weakdeps

#684 mv partial pose test to partial pose file
  test/testPartialPose3.jl
  test/testPose3.jl
Labels: testing, partials

#688 Test Partial Point2 on Pose2 chain
  test/runtests.jl
  test/testPartialPose2.jl
Labels: testing, test all the things

#689 New factor Pose3Pose3RotOffset
  src/factors/Pose3Pose3.jl
  src/variables/VariableTypes.jl
  test/testPose3.jl
Labels: enhancement, factors
