Repository JuliaRobotics/RoME.jl, pull requests merged in 2024-03, with the labels that each got.

#732 Add docs on Bearing2D.jl
  src/factors/Bearing2D.jl
Labels: documentation, factors

#734 New Factor Pose3Pose3UnitTrans
  src/factors/Pose3Pose3.jl
Labels: needs testing, factors

#736 v0.24.3 rc1
  Project.toml
  src/factors/Bearing2D.jl
  src/factors/Pose3Pose3.jl
  test/testBearing2D.jl
Labels: release
